<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SnEaKer BoX</title>
  <link rel="stylesheet" href="css/profile.css" type="text/css">
	<!-- <link rel="stylesheet" href="css/normalize.css" type="text/css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
   

		
	
<body>

    <header id="main">
        <!-- <h1>Fixed Nav Bar Demo</h1> -->


        <nav>
            <ul>
                <!-- <li><a href="#"><img src="" alt=""></a></li> -->
                <li><a href="#">Login</a></li>
                <li><a href="">Sneaker Collections</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Search</a></li>

            </ul>
        </nav>
    </header>



  <section class="usersBox">
    <section class="avatar">
      <span><%= user.local.name %></span>
      <img src="<%= user.local.avatar %>" alt="item-picture">
      <div class="form-group">
        <input id="avatar" type="file" name="avatar">
        <input id="userId" hidden type="text" name="_id" value="<%= user._id %>">
      </div>
      <input id="avatarSubmit" type="submit">
      <h3>Collection $Worth: $383</h3>
      <h4># Pairs: 2</h4>
      <h4>CONDO: Deadstock</h4>
      

      </form>
   

	<div class="userInputBtn">
    <select id="brandselect">
      <option>None</option>
      <option>Jordan</option>
      <option>Nike</option>
      <option>Adidas</option>
      <option>New Balance</option>
      <option>Rebook</option>
      <option>Converse</option>
    </select>
    <input type="submit" id="userInput" value="search" aria-label="Check dates">
  </div>
  

<div>
  <ul>
    <% for(var i=0; i<sneakers.length; i++) { %>
    <li>
      <img src="images/sneakerimg/<%= sneakers[i].image %>" />
      <span><%=sneakers[i].name%></span>
      <span><%=sneakers[i].retail_price%></span>
      <input id="delete" type="submit" class="deleteSneaker" value="<%= sneakers[i].name %>">

    </li>
    
    <% } %>
  </ul>
</div>
</section>



</div> 
<script src="/js/main.js"></script>

  
</body>

</html>